/*-------common style---------*/
* {
    padding: 0%;
    font-family: "Poppins", sans-serif;
}


/*-------navbar-section design---------*/
.navbar-section {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
}
.nav-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.btn {
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
}